<!DOCTYPE html>
<html lang="en">
<head>
    <title>Basic Banking System</title>
</head>
<body>
    
    <header>
        <%- include('navbar') %>
    </header>
    <main>
        <div id="main-content">
            <%- body %>
        </div>
        
    </main>      

</body>
</html>