<!DOCTYPE html>
<html lang="en">
<head>

    <title>Basic Banking System</title>

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

    <header>
        <%- include('navbar') %>
    </header>
    
    <main style="margin:13rem 0rem;">
        <div id="main-content" >
            <div style="display:flex;flex-direction:column;align-items:center;">
                <div style="color:white; font-size:2rem;margin:1.5rem;font-weight:500;">Welcome to The Bank of Sparks Foundation</div>
                <div style="margin:0rem 0rem 1.5rem 0rem;">
                    <a href="/bank/viewCustomers"><button class="homeBtns">View Customers</button></a>
                    <a href="/bank/viewTransactions"><button class="homeBtns">View Transactions</button></a>
                </div>
            
            </div>
        </div>
        
    </main>   

</body>
</html>