<div id="heading"><a href="/"><img src="/Img/bank.png" width="50px" alt=""><div>Banking System</div></a></div>
<div class="links">
    <a href="/bank/viewCustomers" class="nav-links">Customers</a>
    <a href="/bank/viewTransactions" class="nav-links">Transactions</a>
</div> 