*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height:100%;
    background-color: rgb(113, 50, 221);
}
header{
    font-family: 'Exo', sans-serif;
    display:flex;
    justify-content:space-around;
    font-size: 3rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.637);
}

#heading a{
    display: flex;
    gap: 4px;
    color: #ffffff;
    align-items: center;
}

main{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin:2rem 0rem 3rem 0rem;
    height:90vh;
}

#main-content{
    display:flex;
    flex-direction:column;
    width:70%;
    background-color: rgba(185, 152, 242, 0.529);
    border-radius: 10px;
    padding: 40px 0;
}

a{
    text-decoration: none;
    color: black;
}

.customers{
    display: flex;
    justify-content: center;
    color:black;
    font-size: 1rem;
    margin:0.2rem 0rem;
    padding:0.4rem 0rem;
    transition: 0.2s all;
}


td{
    border:1px solid rgb(208, 208, 208);
    color: white;
    padding:0.5rem 3rem;
}

.custDetails{
    display: flex;
    justify-content: center;
    font-size:1.6rem;
    padding:0.5rem 0.5rem;
    background-color: rgb(234, 123, 236);
    border-top:2px solid rgba(0, 0, 0, 0.21);
    
}

.heading{
    display:flex;
    justify-content: center;
    font-size:2.5rem;
    color:white;
}

#transferMoney{
    display:flex;
    justify-content: center;
    padding:1rem 2rem;
    font-size:2rem;
    border-bottom:2px solid black;
    border-top:2px solid black;
    background-color: rgb(0, 159, 109);
    transition: 0.2s all;
}

#transferMoney:hover{
    background-color: rgb(0, 255, 85);
    color:white;
}

.btn-transc {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: aqua;
}

.transfer{
    font-size:2rem;
    padding:1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-transfer{
    padding: 6px 0;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.637);
    color: rgba(177, 178, 167, 0.919);
    border-radius: 10px;
}

#btn-transfer:hover{
    color: #ffffff;
}

.transfer:hover{
    color: white;
    cursor: pointer;
}

#transfer-btn{
    font-size: 1em;
    width: 30%;
    border: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.637);
    color: rgba(177, 178, 167, 0.919);
    border-radius: 10px;
    padding: 6px 0;
}

#transfer-btn:hover{
    color: #ffffff;
    cursor: pointer;
}

.lab{
    font-size: 1.7rem;
    padding:0rem 0.8rem;
}

.sendCustMoney{
    font-size: 1.2rem;
    padding:0.4rem 0rem 0.4rem 0.8rem;
}

#amount{
    height: 28px;
    width:95%;
    margin:0rem 0rem 1.2rem 0.8rem;
    padding: 10px;
    border-radius: 8px;
    border: 0;
}

.links{
    margin: 0rem 0rem 0rem 5rem;
}

.nav-links{
    font-size: 1rem;
    color:rgb(254, 255, 212);
}

.homeContents{
    background: none;
}

.homeBtns{
    background-color: rgb(255, 245, 188);
    font-size:1.5rem;
    padding:0.5rem 1rem;
    margin:0rem 1rem;
    border:0px;
    border-radius:0.5rem;
    transition: 0.2s all;
}

.homeBtns:hover{
    background-color:rgb(222, 144, 0);
    color:white;
    box-shadow: 0rem 0.15rem 0.6rem 0.1rem rgba(255, 255, 255, 0.444);
}

.custDetailBtn{
    border:0px;
    border-radius: 0.2rem;
    background-color: rgb(255, 245, 188);
    padding:0.2rem 0.7rem;
    transition: 0.2s all;
}
.custDetailBtn:hover{
    background-color:rgb(222, 144, 0);
    color:white;
}